<h1>
  Ejemplos para entender el Change Detection
</h1>
<!-- * EJEMPLO ON PUSH ChangeDetection -->
<!-- <app-on-push></app-on-push> -->

<!-- * EJEMPLO DETACH - DETECTCHANGES -->
<!-- <app-on-detach></app-on-detach> -->


<!-- * EJEMPLO DETACH - REATTACH -->
<!--
<app-on-reattach [enVivo]="live"></app-on-reattach>

<ng-container *ngIf="live; else precioParalizado">
  <h4>Mostrando precio en Vivo</h4>
</ng-container>
<ng-template #precioParalizado>
  <h4>IMPORTANTE: Mostrando precio paralizado</h4>
</ng-template>

<h5>¿Mostrar precio en vivo?</h5>
<input type="checkbox" [(ngModel)]="live" />
-->

<!-- EJEMPLO ASYNC PIPE -->
<!--
<app-async-pipe [items$]="items$" ></app-async-pipe>
<button (click)="addItem()" >Añadir un nuevo valor</button>
-->

<!-- EJEMPLO ANGULAR ZONE -->
<app-ng-zone></app-ng-zone>
