<!-- Ejemplos de uso de DIRECTIVAS AVANZADAS -->
<h1>
  Ejemplos de uso de DIRECTIVAS AVANZADAS
</h1>

<!-- EJEMPLO DIRECTIVA DE ATRIBUTO -->
<!-- Se trata de una directiva que podemos poner en todos los elementos/componentes -->
<!-- declarados en este módulo (directivas.module.ts) que sirve para cambiar el color -->
<!-- de fondo del texto cuando pasamos el ratón por encima -->

<!-- TODO: Descomentar para ver el Ejemplo de uso de la directiva [appHighLight] -->
<!--
<h2>
  Ejemplo de uso de Directiva de Atributo que cambia el fondo
</h2>

<div>
  <h3>
    Elige un color para el fondo de los textos
  </h3>

  <input type="radio" name="colors" (click)="color='yellow'" > Amarillo
  <input type="radio" name="colors" (click)="color='lightgreen'" > Verde
  <input type="radio" name="colors" (click)="color='cyan'" > Azul

</div>


<div>
  <p [appHighLight]="color" >
    Texto para probar la directiva
  </p>
  <p [appHighLight]="color" defaultColor="violet">
    Texto para probar la directiva con color por defecto
  </p>
</div>
-->


<!-- TODO: Descomentar para ver el Ejemplo de uso de la directiva estructural *rolCorrecto -->
<!-- <h2>
  Contenido únicamente visible para aquellos que tienen el ROL
</h2>
<p *rolCorrecto="rol">Ejemplo Básico: Contenido OCULTO para los que no tienen el ROL</p> -->

<!-- * Ejemplo con PLANTILLA de contenido oculto para quien no tiene el ROL -->
<!-- <ng-template [rolCorrecto]="rol">
  <p>
    Ejemplo con ngTemplate:
  </p>
  <p>Este es otro contenido OCULTO para los que no tienen el rol</p>
</ng-template> -->

<!-- Botón que cambie el rol de true<=>false -->
<!-- <button (click)="cambiarRol()">
  {{ rol ? 'MOSTRAR' : 'OCULTAR' }}
</button> -->

<!-- * Ejemplo de uso de Directiva LifeCycle que sirve para controlar los ciclos de vida -->
<!-- de cualquier componente que lleve esa directiva -->

<!-- Componente espiado cuyos métodos de ciclo de vida se ejecutan en la directiva LifeCycle -->
<!-- 1. OnInit se sejecuta antes de pintar el componente -->
<!-- 2. OnDestroy se ejecuta al cambiar de página o eliminar el cpomponente con el "rol" a false -->
<app-espiado appLifecycle *rolCorrecto="rol" [numero]="numero" ></app-espiado>
<!-- Botón para aumentar el número que le pasamos por Input al componente -->
<button (click)="aumentarNumero()">
  Aumentar Número
</button>

<!-- Botón que cambie el rol de true<=>false -->
<button (click)="cambiarRol()">
  {{ rol ? 'MOSTRAR' : 'OCULTAR' }}
</button>
