<h2>
  Ejemplo detach() y detectChanges()
</h2>
<div>
  <h3>Nombres Aleatorios</h3>
  <p>(actualizan cada 3 segundos)</p>
  <!-- Iteramos sobre el DataListProvider y los nombres que nos devuelve al acceder a data
  nos devuelve un ARRAY con nombres aleatorios.
  Iteramos sobre este -->
  <li *ngFor="let nombre of dataListProvider.data">
    {{ nombre }}
  </li>
</div>
