
<!-- TODO: Descomentar si quieres ver el Dashboard que crea Angular Material Schematics de ejemplo -->
<!-- <app-dashboard></app-dashboard> -->

<!-- Angular Material Schematics - Panel de Navegación -->
<app-nav></app-nav>

