<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/profile">Profile</a>
      <a mat-list-item routerLink="/settings">Settings</a>
      <a mat-list-item routerLink="/change-detection">Change Detection</a>
      <a mat-list-item routerLink="/directivas">Directivas Avanzadas</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>angular-avanzado</span>
      <!-- * BOTONES PARA PROBAR COMPORTAMIENTO DE ESTRATEGIA DE PRECARGA ONDEMAND -->
      <button (click)="cargarTodasLasRutas()">Cargar Todas las Rutas</button>
      <!-- Profile, tiene preload a false -- NO CARGARÁ (ver console log) -->
      <button (click)="cargarRuta('profile')">Cargar Profile</button>
      <!-- Settings, tiene preload a true -- CARGARÁ (ver console log) -->
      <button (click)="cargarRuta('settings')">Cargar Settings</button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- * Pintamos lo que nos indique el app-routing.module.ts según la ruta activa -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
