<h2>
  Ejemplo de uso de Angular Zone (ngZOne)
</h2>
<h3>
  Cada botón ejecuta el incremento dentro/fuera de ngZone
</h3>

<!-- Mostrar el progreso -->
<h5>
  Progreso Actual: {{progreso}} %
</h5>

<h4 *ngIf="progreso >= 100">
  Progreso terminado: {{texto}} de Angular Zone
</h4>

<!-- Botonera para incrementar el progreso dentro/fuera de NgZone -->
<button (click)="aumentarDentroNgZone()">
  Incrementar DENTRO de NgZone
</button>
<button (click)="aumentarFueraNgZone()">
  Incrementar FUERA de NgZone
</button>
