<h1>
  Componente Espiado por directiva LifeCycle
</h1>
<p>
  Este componente recibe la directiva lifecycle y su hooks del ciclo de vida están
  controlados (se ejecutan) en la directiva.
</p>
<p>
  Número: {{ numero }}
</p>
